body {
    margin: 0;
}

.box1,
.box2,
.box3,
.box4,
.box5 {

    position: relative;
    top: 10px;
    left: 50px;
    width: 500px;

}

p {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    border: 3px solid whitesmoke;
    box-shadow: 5px 5px 5px grey;
    padding: 20px 10px;
    width: 500px;
}

.H1,
.H2,
.H3,
.H4,
.H5 {
    font-weight: 300px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    position: relative;
    bottom: -35px;
    left: 15px;
}

iframe {
    padding: 15px 15px;
    border-width: 1px;
    border-style: solid;
    border-radius: 5%;
    position: fixed;
    bottom: 30px;
    right: 30px;
    width: 20%;
    height: 30%;

}

.one,
.two,
.thre,
.four,
.five {
    background-color: red;
    color: white;
    border-width: 0px;
    border-style: solid;
    border-radius: 50%;
    position: absolute;
    top: 52px;
    left: 514px;

}