table {
    margin-top: 20px;
    width: 300px;
    border-collapse: collapse;
}

table tr {
    border-bottom: 1px solid #c5c9c9;

}
.name{
    display: flex;
    flex-direction: row;
}
.county-map{
    display: flex;
    flex-direction: row;
    gap: 20px;
    background-color: beige;
    padding: 20px;
    margin: 10px 10px 10px 10px;
}
.map{
    margin-top: 40px;
}

@media only screen and (max-width: 640px) {
    body {
        grid-template-columns: 1fr; 
    }

    

    .county-map{
        display: flex;
        flex-direction: column;
    }
}